**nb-configuration.xml
nbactions.xml
**.classpath
**.DS_Store
**.project
**nohup.out
**.factoryPath
**.settings
**/target/
**/bin/
**/build/
**/.mvn*
**.next/*
**/node_modules/
**/node/*
**/npm/cache/*
**/js/dist/*
**/javascript/dist/*
**/demo/dist/*
**/react-rollup-app/dist/*
**/react-rollup-app/packages/*/dist/*
**/package-lock.json
liferay-npm-bundler-report.html
*.log
**/*.swp
**/js/dist
**/js/*.tgz
**/demo/dist
**/.vscode
**.idea
**/*.iml
**/.factorypath
